<font color="#CC3D3D"><p>
# 실습-01: 명시적 프로그래밍(Explicit Programming, Rule-based System)

### 0. Problem Statement

타이타닉의 생존자는 누구일까?   
- 생존자를 찾기 위한 규칙(IF문)을 작성하세요.
- 작성한 규칙을 탑승자 데이터에 적용하여 규칙이 얼마나 맞는지 확인하세요.

##### Imports

In [1]:
import pandas as pd 
from sklearn.metrics import accuracy_score # 정확도(예측값과 실제값이 얼마나 일치하는지) 계산함수

### 1. Read Data

In [81]:
train = pd.read_csv('titanic_train.csv', encoding='cp949') 
train
train.describe()

,승객ID,생존여부,객실등급,나이,동반_형제자매배우자,동반_부모자식,티켓가격
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### 2. Make Rules

In [264]:
# X -> 한 행
# 부잣집 가족들 생존, 가난한 남자 사망.
def rules(x):
    if (x.성별 == '여자') and (x.객실등급 <=2.5):
        return 1
    
    return 0

In [265]:
# 탑승자 한사람씩 (train 데이터의 한 행) 위의 규칙을 적용하여 생존여부를 예측
prediction = train.apply(rules, axis=1)
# 한 행씩 rules 함수를 돌려가며 train df에 읽혀라

# 데이터 프레임으로 만들어, 예측값과 실제값을 비교
pd.DataFrame({'승객ID': train.승객ID, '생존여부(예측)': prediction, '생존여부(실제)': train.생존여부})

     승객ID  생존여부(예측)  생존여부(실제)
0       1         0         0
1       2         1         1
2       3         0         1
3       4         1         1
4       5         0         0
..    ...       ...       ...
886   887         0         0
887   888         1         1
888   889         0         0
889   890         0         1
890   891         0         0

[891 rows x 3 columns]

### 3. Evaluate Rules

In [266]:
# 예측값과 실제값이 얼마나 일치하는지 측정: 정확도
accuracy_score(train.생존여부, prediction)

0.7867564534231201

<font color="#CC3D3D"><p>
# End